<%= form_with model: @team do |f| %>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.hidden_field :manager_id, value: current_user.id %>
    </p>
    <p>
        <%= f.label :users %>
        <%= f.collection_check_boxes :user_ids, @users, :id, :email %>
    </p>
    <p>
        <%= f.label :games %>
        <%= f.collection_check_boxes :game_ids, @games, :id, :name %>
    </p>
    <p>
        <%= f.submit caption %>
    <p>
<% end %>
