<h1><%= @team.name %></h1>

<h3>Name: <%= @team.name %></h3>

<h3>Players:
    <% if @team.users.empty? %>
        <%= "N/A" %>
    <% else %>
        <%= @team.users.map { |u| u.username }.join(", ") %>
    <%end%>
</h3>

<h3>Manager: 
    <% if @team.manager.nil? %>
        <%= "N/A" %>
    <% else %>
        <%= @team.manager.username %>
    <% end %>
</h3>

<h3>Games: <%= @team.games.map { |g| g.name }.join(", ") %></h3>


<p>
    <%= link_to "Back to Teams", teams_path %>
    <% if policy(@team).update? %>
        |
        <%= link_to "Edit Team", edit_team_path(@team) %>
    <% end %>
    <% if policy(@team).destroy? %>
        |
        <%= link_to "Delete", @team, method: :delete, data: { confirm: "Are you sure you would like to delete this team?"} %>
    <% end %>
</p>