<h1><%= @event.name %></h1>

<h3>Adress: <%= @event.location %></h3>
<h3>Date: <%= @event.date %></h3>
<h3>Game: <%= @event.game.name %></h3>

<p>
    <%= link_to "Back to Events", events_path %>
    <% if policy(@event).update? %>
        |
        <%= link_to "Edit Event", edit_event_path(@event) %>
    <% end %>
    <% if policy(@event).destroy? %>
        |
        <%= link_to "Delete", @event, method: :delete, data: { confirm: "Are you sure you would like to delete this event?"} %>
    <% end %>
</p>
